body {
    width: 300px;
    padding: 10px;
    font-family: sans-serif;
  }
  
  #content {
      padding: 10px;
  }
  textarea {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
  }